images
split_data/*

.ipynb_checkpoints
parameters/enc_datas
parameters/*
dataset/*
result/*
__pycache__

BaseLine/dataset/*
BaseLine/parameters/*
BaseLine/result/*
BaseLine/__pycache__


Verify_BaseLine/dataset/*
Verify_BaseLine/parameters/*
Verify_BaseLine/result/*
Verify_BaseLine/__pycache__
Verify_Baseline/parameters/

MatrixFloat/dataset/*
MatrixFloat/parameters/*
MatrixFloat/result/*
MatrixFloat/__pycache__

MatrixMod/dataset/*
MatrixMod/parameters/*
MatrixMod/result/*
MatrixMod/__pycache__

NPMML/dataset/*
NPMML/parameters/*
NPMML/result/*
NPMML/__pycache__

Verify_Baseline/dataset/FashionMNIST/processed/test.pt
Verify_Baseline/dataset/FashionMNIST/processed/training.pt
Verify_Baseline/dataset/FashionMNIST/raw/t10k-images-idx3-ubyte
Verify_Baseline/dataset/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Verify_Baseline/dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte
Verify_Baseline/dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Verify_Baseline/dataset/FashionMNIST/raw/train-images-idx3-ubyte
Verify_Baseline/dataset/FashionMNIST/raw/train-images-idx3-ubyte.gz
Verify_Baseline/dataset/FashionMNIST/raw/train-labels-idx1-ubyte
Verify_Baseline/dataset/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Verify_Baseline/dataset/MNIST/processed/test.pt
Verify_Baseline/dataset/MNIST/processed/training.pt
Verify_Baseline/dataset/MNIST/raw/t10k-images-idx3-ubyte
Verify_Baseline/dataset/MNIST/raw/t10k-images-idx3-ubyte.gz
Verify_Baseline/dataset/MNIST/raw/t10k-labels-idx1-ubyte
Verify_Baseline/dataset/MNIST/raw/t10k-labels-idx1-ubyte.gz
Verify_Baseline/dataset/MNIST/raw/train-images-idx3-ubyte
Verify_Baseline/dataset/MNIST/raw/train-images-idx3-ubyte.gz
Verify_Baseline/dataset/MNIST/raw/train-labels-idx1-ubyte
Verify_Baseline/dataset/MNIST/raw/train-labels-idx1-ubyte.gz

DrawFigure

NPANN/dataset/*
NPANN/parameters/*
NPANN/result/*
NPANN/__pycache__

Verify_EIFL/dataset/*
Verify_EIFL/parameters/*
Verify_EIFL/result/*
Verify_EIFL/__pycache__